<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite>
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="phpunit/coverage/" />
	</logging>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
		<ini name="error_reporting" value="-1" />
		<const name="DB_NAME" value="phpunit_test_mibadger_activerecord" />
		<const name="DB_USER" value="phpunit" />
		<const name="DB_PASS" value="phpunit" />
	</php>
</phpunit>
